<!DOCTYPE html>
<html>
	<head>
		<title>Rock, Paper, Scissors</title>
		<link type="text/css" rel="stylesheet" href="style/stylesheet.css" />
	</head>
	<body>
		<header>
		<h1>Hello</h1>

		</header>

		<section class="temperature">
			<ul>
			<li><a href="#" class="">name</a></li>
			<li><a href="#" class="">name</a></li>
			<li><a href="#" class="">name</a></li>
			<li><a href="#" class="">name</a></li>
			</ul>
		</section>




		<script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
		<script src="javascript/RockPaperScissors.js"></script>
		<script src="javascript/game.js"></script>
		

		<script>


		</script>


	</body>
</html>